<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/openid.png">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <% if (wide) { %>
    <div class="card card-wide">
    <% } else { %>
    <div class="card">
    <% } %>
      <div class="notice" id="notice" style="display: none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
        <div>
          <p id="error"></p>
        </div>
      </div>
      <h1><%= title %></h1>
      <%- body %>
      <% if (uid) { %>
      <div class="login-help login-cancel">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
        <% if (client.tosUri) { %>
          <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
          <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div>
    <% } %>
    <% if (dbg) { %>
    <div class="grant-debug">
      <details>
        <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
        <% if (uid) { %>
        <div>
          <strong>uid</strong>: <%= uid %>
        </div>
        <% } %>

        <div>
          SESSION <br>
         ========= <br>
          <%- dbg.session %>
        </div>

        <div>
          PARAMS <br>
         ======== <br>
          <%- dbg.params %>
        </div>

        <div>
          PROMPT <br>
         ======== <br>
          <%- dbg.prompt %>
        </div>
      </details>
    </div>
    <% } %>
  </body>
  <script nonce="<%= nonce %>">
    const url = new URL(window.location.href);
    const urlParams = new URLSearchParams(url.hash);
    const errorDescription = urlParams.get('error_description')
    if (errorDescription) {
      const notice = document.getElementById('notice');
      notice.style.display = 'block'
      const error = document.getElementById('error');
      error.textContent = errorDescription
    }
  </script>
</html>
