<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="login-card">
      <h1><%= title %></h1>
      <%- body %>
      <% if (uid) { %>
      <div class="login-help login-cancel">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
        <% if (client.tosUri) { %>
          <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
          <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div>
    <% } %>
    <% if (dbg) { %>
    <div class="grant-debug">
      <details>
        <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
        <% if (uid) { %>
        <div>
          <strong>uid</strong>: <%= uid %>
        </div>
        <% } %>

        <div>
          SESSION <br>
         ========= <br>
          <%- dbg.session %>
        </div>

        <div>
          PARAMS <br>
         ======== <br>
          <%- dbg.params %>
        </div>

        <div>
          PROMPT <br>
         ======== <br>
          <%- dbg.prompt %>
        </div>
      </details>
    </div>
    <% } %>
  </body>
</html>
