<p>
    <%= gateway %> received request to log in as <%= email %> for <%= client %> on <%= client_url %>
</p>
<br/>
<p>
    Open the following link to log in: <%= url %>
</p>
<br/>
<p>
    The request was made on <%= browser %> from <%= ip %>
</p>
<br/>
<p>
    If you didn't make this request, please ignore it. If it becomes frequent, please contact support.
</p>
